{% extends 'base.html' %}

{% block texto_pestania %}
    Crear viaje
{% endblock %}

{% block header_h1 %}
    CREAR VIAJE
{% endblock %}

{% block contenido %}

<div class="container mt-5" style="max-width: 650px;">

    <div class="card shadow-sm border-0 p-4">


        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                <div class="mb-4">

                    <!-- LABEL -->
                    <label class="form-label fw-semibold d-block">
                        {{ field.label }}

                        {% if field.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                    </label>

                    <!-- INPUT -->
                    <div>
                        {{ field }}
                    </div>

                    <!-- AYUDA -->
                    {% if field.help_text %}
                        <small class="text-muted d-block mt-1">
                            {{ field.help_text }}
                        </small>
                    {% endif %}

                    {% if field.name == "sitio_turistico" %}
                        <small class="text-muted d-block">
                            (opcional)
                        </small>
                    {% endif %}

                    <!-- ERRORES -->
                    {% if field.errors %}
                        <div class="text-danger small mt-1">
                            {{ field.errors|striptags }}
                        </div>
                    {% endif %}

                </div>
            {% endfor %}

            <!-- BOTÓN -->
            <div class="d-grid mt-3">
                <button type="submit" class="btn btn-success">
                    Guardar viaje
                </button>
            </div>

        </form>

    </div>

    {% if mensaje %}
        <div class="alert alert-info mt-4 text-center">
            {{ mensaje }}
        </div>
    {% endif %}

</div>

{% endblock %}