{% extends 'base.html' %}

{% block texto_pestania %}
    Iniciar sesión
{% endblock %}

{% block header_h1 %}
    INICIAR SESIÓN
{% endblock %}

{% block contenido %}

<div class="container mt-5" style="max-width: 400px;">

    <form action="{% url 'usuarios:iniciar_sesion' %}" method="post" class="card p-4 shadow-sm">
        {% csrf_token %}

        {% if formulario_iniciar_sesion.non_field_errors %}
            <div class="alert alert-danger">
                {{ formulario_iniciar_sesion.non_field_errors }}
            </div>
        {% endif %}
        
        {% for field in formulario_iniciar_sesion %}
            <div class="mb-3">
                <label class="form-label">{{ field.label }}</label>
                {{ field }}

                {% if field.errors %}
                    <div class="text-danger small">
                        {{ field.errors|striptags }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary w-100">
            Iniciar sesión
        </button>
        <div class="text-center mt-3">
            <a href="{% url 'usuarios:password_reset' %}">
                ¿Olvidaste tu contraseña?
            </a>
        </div>
    </form>

</div>

{% endblock %}