{% extends 'base.html' %}

{% block texto_pestania %}
    Recuperar contraseña
{% endblock %}

{% block header_h1 %}
    RECUPERAR CONTRASEÑA
{% endblock %}

{% block contenido %}

<div class="container mt-5" style="max-width: 500px;">

    <h2 class="text-center mb-4">Ingresa tu correo</h2>

    <form method="post" class="card p-4 shadow-sm">
        {% csrf_token %}

        {% for field in form %}
            <div class="mb-3">
                <label class="form-label">{{ field.label }}</label>
                {{ field }}

                {% if field.errors %}
                    <div class="text-danger small">
                        {{ field.errors|striptags }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary w-100">
            Enviar enlace
        </button>
    </form>

</div>

{% endblock %}