{% extends 'base.html' %}

{% block texto_pestania %}
    Contraseña actualizada
{% endblock %}

{% block header_h1 %}
    CONTRASEÑA ACTUALIZADA
{% endblock %}

{% block contenido %}

<div class="container mt-5" style="max-width: 500px;">

    <div class="card p-4 shadow-sm text-center">
        <h4>¡Listo!</h4>
        <p class="mt-3">
            Tu contraseña ha sido actualizada correctamente.
        </p>

        <a href="{% url 'usuarios:iniciar_sesion' %}" class="btn btn-primary mt-3">
            Iniciar sesión
        </a>
    </div>

</div>

{% endblock %}
